@use "../settings/card";

/*-------------------------------------------------*\
  #COMPONENTS-CARD-BLOCK

  Application de la structure global des cards
\*---------------------------------------------------*/

/*
 * Structure principale des cards par défaut
 */
.card {
  background: card.$background;
  border-radius: card.$radius;
  box-shadow: card.$shadow;
  margin: card.$margin;
}


/*-------------------------------------------------*\
  #COMPONENTS-CARD-ELEMENTS

  Style des elements se trouvant au sein des cartes
\*---------------------------------------------------*/

/*
 * Structure principale de l'élément background d'une card
 */
.card__background {
  background-image: card.$el-background-background-image;
  background-size: card.$el-background-size;
  background-position: card.$el-background-position;
  background-color: card.$el-background-color;
  background-blend-mode: card.$el-background-blend-mode;
  height: card.$el-background-height;
  width: card.$el-background-width;
}

.card__body {
  padding: card.$padding;
}
